<p style="color: green"><%= notice %></p>

<%= render @post %>

<div>
  <%= link_to "Edit this post", edit_post_path(@post) %> |
  <%= link_to "Back to posts", posts_path %>

  <%= button_to "Destroy this post", @post, method: :delete %>

  <p>
  <% @comments.each do |comment| %>
    <div class="card w-75">
    <div class="card-body">
      <h5 class="card-title"><%= comment.author %></h5>
      <p class="card-text"> <%= comment.body %> </p>
    </div>
    </div>
  <% end %>
  </p>
  <% if user_signed_in? %>
    <%= render "comments/form", comment: @comment %>
  <% else %>
    <%= link_to 'You need to log in', user_session_path %>
  <% end %>
</div>


