<!DOCTYPE html>
<html>
  <head>
    <title>Blog</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", defer: true %>
  </head>

  <body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container-fluid">
    <a class="navbar-brand" href="#">MyBlog</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item">
          <%= link_to "Home", posts_path, class: "nav-link" %>
        </li>
        <% if user_signed_in? %>
        <li class="nav-item">
          <%= button_to "Sign Out", destroy_user_session_path, method: :delete, class: "nav-item" %>
        </li>
        <% else %>
        <li class="nav-item">
          <%= link_to 'Log in', user_session_path, class: "nav-link" %>
        </li>
        <li class="nav-item">
          <%= link_to "Sign Up", new_user_registration_path, class: "nav-link" %>
        </li>
        <% end %>
        <!--<li class="nav-item">
          <a class="nav-link disabled">Disabled</a>
        </li> -->
      </ul>
    </div>
  </div>
</nav>

<% if current_user %>
    <p> Hello <%= current_user.email %> </p>
    <p>
        You have authenitcated with your account!
    </p>
    <%= button_to "Sign Out", destroy_user_session_path, method: :delete %>

<% else %>
    <p> You are not signed in </p>
    <%= link_to "Sign Up", new_user_registration_path %>
    <br/>
    <%= link_to "Log In", new_user_session_path %>
<% end %>

    <div class = "container" >
    <%= yield %>
    </div>
  </body>
</html>
